################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

**/.vs
**/bin/*
**/obj/*
Controllers.zip
Imagenes.zip
Papeleta.zip
Papeleta.zip
