################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

**/.vs
**/bin
/obj/login.csproj.nuget.dgspec.json
/obj/login.csproj.nuget.g.props
/obj/project.assets.json
/obj/Debug/net8.0/login.csproj.CoreCompileInputs.cache
obj/Debug/net8.0/login.AssemblyInfo.cs
obj/Debug/net8.0/login.AssemblyInfoInputs.cache
obj/Debug/net8.0/login.AssemblyInfo.cs
obj/Debug/net8.0/login.AssemblyInfoInputs.cache
obj/Debug/net8.0/login.AssemblyInfoInputs.cache
obj/Debug/net8.0/login.AssemblyInfo.cs
/obj/Debug/net8.0/login.AssemblyInfoInputs.cache
/obj/Debug/net8.0/login.AssemblyInfo.cs
Home/PapeletaGit/f.html
/APIs/ApiPapeleta/obj/Debug/net8.0/ApiPapeleta.AssemblyInfo.cs
/APIs/ApiPapeleta/obj/Debug/net8.0/ApiPapeleta.AssemblyInfoInputs.cache
/APIs/ApiPapeleta/obj/Debug/net8.0/ApiPapeleta.assets.cache
/APIs/ApiPapeleta/obj/Debug/net8.0/ApiPapeleta.GeneratedMSBuildEditorConfig.editorconfig
/APIs/ApiPapeleta/obj/ApiPapeleta.csproj.nuget.dgspec.json
/APIs/ApiPapeleta/obj/ApiPapeleta.csproj.nuget.g.props
/APIs/ApiPapeleta/obj/project.assets.json
/APIs/ApiPapeleta/obj/project.nuget.cache
