body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f9;
    color: #333;
}

/* Encabezado fijo */
header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #003366;
    color: white;
    padding: 0.5rem 2rem;
    position: fixed;
    top: 0;
    width: 97%;
    z-index: 1000;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.header-left img {
    height: 50px;
}

.header-center {
    display: flex;
    align-items: center;
    gap: 2rem; /* Separación entre elementos del menú */
}

nav a {
    color: white;
    text-decoration: none;
    font-size: 1rem;
    font-weight: bold;
    margin: 0 1rem; /* Espaciado adicional entre los enlaces */
}

nav a:hover {
    text-decoration: underline;
}

.search-icon {
    width: 30px;
    height: 30px;
    background-color: #ccc;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-right {
    display: flex;
    gap: 1rem;
}

.header-right .icon {
    width: 30px;
    height: 30px;
    background-color: #ccc;
    border-radius: 50%;
}

footer {
    background-color: #003366;
    color: white;
    text-align: center;
    padding: 1rem;
    margin-top: 2rem;
}